* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fff;
}

.Page__container {
  width: 1350px;
  height: 100%;
}

.burger {
  display: none;
}

.wrap .footerPage .homePage__background .Page__container .main2 {
  display: none !important;
}

.wrap .footerPage .homePage__background .Page__container .main3 {
  display: none !important;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #020a18;
}
.wrap .homePage {
  width: 100%;
  height: auto;
}
.wrap .homePage .homePage__background {
  width: 100%;
  height: 100%;
  background-color: #08101e;
  display: flex;
  justify-content: center;
  padding: 0 0 100px 0;
}
.wrap .homePage .homePage__background header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .homePage .homePage__background header .logo {
  display: flex;
  align-items: center;
  width: auto;
  font-size: 22px;
  color: #3A68B8;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.wrap .homePage .homePage__background header .logo img {
  width: 40px;
}
.wrap .homePage .homePage__background header .logo p {
  margin-left: 20px;
}
.wrap .homePage .homePage__background header nav {
  width: 411px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.wrap .homePage .homePage__background header nav a {
  text-decoration: none;
  color: #fff;
}
.wrap .homePage .homePage__background header .button-box {
  width: 180px;
  display: flex;
  justify-content: end;
}
.wrap .homePage .homePage__background header .button-box button {
  width: 132px;
  height: 52px;
  border: none;
  background-color: #3A68B8;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.wrap .homePage .homePage__background header .button-box button:hover {
  color: #3A68B8;
  border: 2px solid #3A68B8;
  background-color: transparent;
}
.wrap .homePage .homePage__background .main {
  width: 100%;
  display: flex;
  margin-top: 100px;
}
.wrap .homePage .homePage__background .main .main__left {
  width: 50%;
  height: 100%;
  margin-top: 75px;
}
.wrap .homePage .homePage__background .main .main__left h3 {
  font-size: 18px;
  font-weight: 600;
  color: #3A68B8;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.wrap .homePage .homePage__background .main .main__left h2 {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #fff;
  margin-top: 5px;
}
.wrap .homePage .homePage__background .main .main__left p {
  font-size: 16px;
  font-weight: 600;
  color: #c4c4c4;
  width: 485px;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}
.wrap .homePage .homePage__background .main .main__left .buttons-block {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 50px;
}
.wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(1) {
  width: 171px;
  height: 57px;
  border: none;
  background-color: #3A68B8;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(2) {
  width: 217px;
  height: 57px;
  border: none;
  background-color: #3A68B8;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 35px;
  margin-left: 20px;
}
.wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(2) img {
  width: 10%;
}
.wrap .homePage .homePage__background .main .main__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 70px;
}
.wrap .homePage .homePage__background .main .main__right img {
  width: 610px;
  height: 612px;
}
.wrap .homePage .homePage__background .ourPartners {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.wrap .homePage .homePage__background .ourPartners img {
  height: 59px;
}
.wrap .aboutPage {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
.wrap .aboutPage .Page__container .main {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrap .aboutPage .Page__container .main .main__left {
  width: 50%;
}
.wrap .aboutPage .Page__container .main .main__left img {
  width: 650px;
}
.wrap .aboutPage .Page__container .main .main__right {
  width: 50%;
  height: 100%;
  padding-left: 100px;
}
.wrap .aboutPage .Page__container .main .main__right p {
  font-size: 16px;
  font-weight: 600;
  color: #c4c4c4;
  width: 420px;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}
.wrap .aboutPage .Page__container .main .main__right button {
  width: 150px;
  height: 52px;
  margin-top: 50px;
  border: none;
  background-color: #3A68B8;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.wrap .aboutPage .Page__container .main .main__right button:hover {
  color: #3A68B8;
  border: 2px solid #3A68B8;
  background-color: transparent;
}
.wrap .servisesPage {
  width: 100%;
  padding: 50px 40px 100px 40px;
}
.wrap .servisesPage .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap .servisesPage .cards article {
  width: 332px;
  height: 365px;
  background: #0d1522;
  background: linear-gradient(180deg, #0d1522 0%, #19202d 100%);
  border-radius: 10px;
}
.wrap .servisesPage .cards article .cardImage-block {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .servisesPage .cards article .cardImage-block img {
  height: 50%;
}
.wrap .servisesPage .cards article .text {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .servisesPage .cards article .text h3 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #dbdada;
  text-align: center;
  margin-top: 20px;
}
.wrap .servisesPage .cards article .text p {
  font-size: 14px;
  font-weight: 600;
  width: 248px;
  text-align: center;
  color: #a7a7a7;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}
.wrap .servisesPage .sliderIndicator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.wrap .servisesPage .sliderIndicator .sliderIndicator__container {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .servisesPage .sliderIndicator .sliderIndicator__container .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #17243a;
  background: linear-gradient(180deg, #131e30 0%, #19202d 100%);
  cursor: pointer;
}
.wrap .servisesPage .sliderIndicator .sliderIndicator__container .centerCircle {
  width: 17px;
  height: 17px;
}
.wrap .reviewsPage {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
}
.wrap .reviewsPage .Page__container .main {
  width: 100%;
  display: flex;
}
.wrap .reviewsPage .Page__container .main .main__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap .reviewsPage .Page__container .main .main__left h2 {
  width: 531px;
}
.wrap .reviewsPage .Page__container .main .main__left p {
  font-size: 16px;
  font-weight: 600;
  color: #c4c4c4;
  width: 420px;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
}
.wrap .reviewsPage .Page__container .main .main__left .first {
  margin-top: 40px;
}
.wrap .reviewsPage .Page__container .main .main__right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.wrap .reviewsPage .Page__container .main .main__right img {
  width: 641px;
}
.wrap .footerPage {
  width: 100%;
}
.wrap .footerPage .homePage__background {
  background-color: #08101e;
  width: 100%;
  padding: 125px 0px 125px 0px;
  display: flex;
  justify-content: center;
}
.wrap .footerPage .homePage__background .Page__container .main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap .footerPage .homePage__background .Page__container .main .main__contacts img {
  width: 45px;
  position: relative;
  bottom: 15px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__contacts h3 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #3A68B8;
  position: relative;
  bottom: 10px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__contacts p {
  font-size: 16px;
  font-weight: 600;
  color: #c4c4c4;
  width: 325px;
  font-family: "Open Sans", sans-serif;
  margin: 0px 0 30px 0;
}
.wrap .footerPage .homePage__background .Page__container .main .main__contacts div {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__contacts div img {
  width: 20px;
  margin-right: 10px;
  position: static;
}
.wrap .footerPage .homePage__background .Page__container .main .main__contacts div .mail__image {
  height: 15px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__info {
  display: flex;
  padding: 0 50px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__info ul li {
  list-style: none;
  font-size: 14px;
  color: #c4c4c4;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  margin-top: 20.5px;
  cursor: pointer;
}
.wrap .footerPage .homePage__background .Page__container .main .main__info ul li:nth-child(1) {
  font-size: 22px;
  color: white;
  margin: 0 0 30px 0;
}
.wrap .footerPage .homePage__background .Page__container .main .main__info ul:nth-child(2) {
  margin: 0 45px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about h3 {
  font-size: 22px;
  color: white;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about p {
  font-size: 16px;
  font-weight: 600;
  color: #c4c4c4;
  width: 325px;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about h5 {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks img {
  cursor: pointer;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks img:nth-child(1) {
  width: 12.50px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks img:nth-child(2) {
  width: 22px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks img:nth-child(3) {
  width: 26px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks img:nth-child(4) {
  width: 24px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks img:nth-child(5) {
  width: 28px;
  height: 20px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .dropDown {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .dropDown img {
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
}
.wrap .footerPage .homePage__background .Page__container .main .main__about .dropDown select {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #08101e;
}

@media screen and (max-width: 1820px) {
  .wrap .servisesPage .cards article {
    width: 270px;
    height: 335px;
  }

  .wrap .servisesPage .cards article .text h3 {
    font-size: 18px;
  }

  .wrap .servisesPage .cards article .text p {
    font-size: 12px;
    width: 206px;
  }
}
@media screen and (max-width: 1600px) {
  .wrap .homePage .homePage__background .main .main__left h2 {
    font-size: 42px;
  }

  .Page__container {
    width: 1250px;
  }

  .wrap .homePage .homePage__background .main .main__right img {
    width: 500px;
    height: 512px;
  }

  .wrap .homePage .homePage__background .main .main__right {
    bottom: 45px;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 570px;
  }

  h2 {
    font-size: 34px;
  }

  .wrap .reviewsPage .Page__container .main .main__right img {
    width: 580px;
  }

  .wrap .reviewsPage .Page__container .main .main__left h2 {
    width: 455px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__contacts div {
    font-size: 14px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__contacts p {
    font-size: 14px;
    width: 284px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about p {
    font-size: 14px;
    width: 284px;
    margin-top: 28px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about h3 {
    font-size: 20px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__info ul li:nth-child(1) {
    font-size: 20px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__info ul li {
    margin-top: 18.5px;
  }
}
@media screen and (max-width: 1512px) {
  .Page__container {
    width: 1150px;
  }

  .wrap .homePage .homePage__background .ourPartners img {
    height: 50px;
  }

  .wrap .homePage .homePage__background .main {
    margin-top: 70px;
  }

  .wrap .homePage .homePage__background .main .main__left {
    margin-top: 50px;
  }

  .wrap .servisesPage .cards article:nth-child(1) {
    display: none;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about h3 {
    font-size: 18px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__info ul li:nth-child(1) {
    font-size: 18px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about p {
    width: 255px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__contacts p {
    width: 255px;
  }
}
@media screen and (max-width: 1340px) {
  .Page__container {
    width: 1050px;
  }

  .wrap .homePage .homePage__background .main .main__left h2 {
    font-size: 36px;
  }

  .wrap .homePage .homePage__background .main .main__left h3 {
    font-size: 16px;
    width: 438px;
  }

  .wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(1) {
    width: 150px;
    height: 50px;
  }

  .wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(2) {
    width: 190px;
    height: 50px;
  }

  .wrap .homePage .homePage__background .main .main__right img {
    width: 450px;
    height: auto;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 500px;
  }

  h2 {
    font-size: 30px;
  }

  .wrap .aboutPage .Page__container .main .main__right {
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .wrap .reviewsPage .Page__container .main .main__right img {
    width: 500px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__contacts div {
    font-size: 12px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__contacts p {
    width: 212px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about p {
    width: 212px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks {
    width: 190px;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__info ul li {
    margin-top: 22.5px;
  }
}
@media screen and (max-width: 1216px) {
  .wrap .servisesPage .cards article:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1190px) {
  .Page__container {
    width: 950px;
  }

  .wrap .homePage .homePage__background .main {
    margin-top: 50px;
  }

  .wrap .homePage .homePage__background .main .main__right {
    bottom: 25px;
  }

  .wrap .homePage .homePage__background .main .main__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrap .homePage .homePage__background .main .main__left h2 {
    font-size: 30px;
  }

  .wrap .homePage .homePage__background .main .main__left h3 {
    font-size: 14px;
  }

  .wrap .homePage .homePage__background .main .main__left p {
    width: 390px;
    font-size: 13px;
  }

  .wrap .homePage .homePage__background .main .main__left .buttons-block {
    margin-top: 35px;
  }

  .wrap .homePage .homePage__background .main .main__right img {
    width: 400px;
  }

  .wrap .homePage .homePage__background .ourPartners {
    margin-top: 30px;
  }

  .wrap .homePage .homePage__background .ourPartners img {
    height: 45px;
  }

  .wrap .homePage .homePage__background {
    padding: 0 0 60px 0;
  }

  .wrap .homePage .homePage__background header .logo {
    font-size: 18px;
  }

  .wrap .homePage .homePage__background header .logo img {
    width: 35px;
  }

  .wrap .homePage .homePage__background header nav {
    font-size: 14px;
    width: 350px;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 420px;
  }

  h2 {
    font-size: 24px;
  }

  .wrap .aboutPage .Page__container .main .main__right p {
    font-size: 13px;
    width: 345px;
  }

  .wrap .aboutPage .Page__container .main .main__right button {
    width: 140px;
    height: 50px;
  }

  .wrap .reviewsPage .Page__container .main .main__right img {
    width: 430px;
  }

  .wrap .footerPage .homePage__background .Page__container .main {
    display: none;
  }

  .wrap .footerPage .homePage__background .Page__container .main2 {
    display: flex !important;
    flex-direction: column;
  }

  .footerMainPart1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__info {
    padding: 0;
    margin-top: 80px;
  }
}
@media screen and (max-width: 1100px) {
  .Page__container {
    width: 850px;
  }

  .wrap .homePage .homePage__background .ourPartners img {
    height: 40px;
  }

  .wrap .homePage .homePage__background header .button-box {
    width: 160px;
  }

  .wrap .homePage .homePage__background header .button-box button {
    width: 120px;
    height: 46px;
  }

  .wrap .reviewsPage .Page__container .main .main__left p {
    font-size: 13px;
    width: 335px;
  }

  .wrap .reviewsPage .Page__container .main .main__left h2 {
    width: 100%;
  }
}
@media screen and (max-width: 955px) {
  .wrap .homePage .homePage__background .main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .wrap .homePage .homePage__background .main .main__right {
    width: 100%;
    justify-content: center;
  }

  .wrap .homePage .homePage__background .main .main__left {
    width: 100%;
    align-items: center;
  }

  .wrap .homePage .homePage__background .main .main__right img {
    width: 500px;
    margin-top: 20px;
  }

  .wrap .homePage .homePage__background .main .main__left h3 {
    text-align: center;
  }

  .wrap .homePage .homePage__background .main .main__left h2 {
    text-align: center;
  }

  .wrap .homePage .homePage__background .main .main__left p {
    text-align: center;
    width: 438px;
  }

  .wrap .homePage .homePage__background .main .main__left .buttons-block {
    display: flex;
    justify-content: center;
  }

  .wrap .homePage .homePage__background .main .main__left {
    margin-top: 20px;
  }

  .wrap .homePage .homePage__background .ourPartners {
    margin-top: 100px;
  }

  .wrap .homePage .homePage__background header nav {
    display: none;
  }

  .wrap .homePage .homePage__background header .button-box {
    display: none;
  }

  .burger {
    width: 40px;
    height: 22px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger__row {
    width: 100%;
    height: 4px;
    background-color: #3A68B8;
    border-radius: 6px;
  }

  .Page__container {
    width: 90%;
  }

  .wrap .aboutPage .Page__container .main {
    flex-direction: column;
  }

  .wrap .aboutPage .Page__container .main .main__left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .wrap .aboutPage .Page__container .main .main__right {
    width: 100%;
  }

  .wrap .aboutPage .Page__container .main .main__right {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  h2 {
    text-align: center;
  }

  .wrap .aboutPage .Page__container .main .main__right p {
    text-align: center;
  }

  .secondPage__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap .aboutPage .Page__container .main .main__right button {
    margin-top: 30px;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 540px;
  }

  .wrap .aboutPage {
    padding: 70px 0;
  }

  .wrap .reviewsPage .Page__container .main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .wrap .reviewsPage .Page__container .main .main__left {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrap .reviewsPage .Page__container .main .main__right {
    width: 100%;
    justify-content: center;
  }

  .fourthPage__text {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap .reviewsPage .Page__container .main .main__left p {
    text-align: center;
  }

  .wrap .reviewsPage .Page__container .main .main__left .first {
    margin-top: 30px;
  }

  .wrap .reviewsPage {
    padding: 50px 0 100px 0;
  }

  .wrap .reviewsPage .Page__container .main .main__right img {
    width: 500px;
  }
}
@media screen and (max-width: 940px) {
  .wrap .servisesPage .cards {
    justify-content: space-around;
  }

  .wrap .servisesPage .cards article:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .wrap .homePage .homePage__background .main .main__right img {
    width: 400px;
    margin-top: 0;
  }

  .wrap .homePage .homePage__background .ourPartners img {
    height: 35px;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 440px;
  }

  .wrap .reviewsPage .Page__container .main .main__right img {
    width: 430px;
  }
}
@media screen and (max-width: 730px) {
  .wrap .homePage .homePage__background .main .main__right img {
    width: 350px;
  }

  .wrap .homePage .homePage__background .main .main__left h2 {
    font-size: 26px;
  }

  .wrap .homePage .homePage__background .main .main__left p {
    width: auto;
  }

  .firstPage__text {
    width: 365px;
  }

  .wrap .homePage .homePage__background .main .main__left h3 {
    width: 100%;
  }

  .wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(1) {
    height: 44px;
    width: 125px;
    font-size: 14px;
    font-weight: 500;
  }

  .wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    width: 160px;
    padding: 0 29px;
    justify-content: space-between;
  }

  .wrap .homePage .homePage__background .ourPartners img {
    height: 30px;
  }

  .wrap .homePage .homePage__background .ourPartners {
    margin-top: 70px;
    padding: 0 10px;
  }

  .wrap .homePage .homePage__background {
    padding: 0 0 50px 0;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 380px;
  }

  .wrap .aboutPage .Page__container .main .main__right {
    margin-top: 60px;
  }

  h2 {
    font-size: 20px;
  }

  .wrap .aboutPage .Page__container .main .main__right button {
    width: 125px;
    height: 44px;
    font-size: 14px;
    font-weight: 500;
  }

  .wrap .reviewsPage .Page__container .main .main__right img {
    width: 365px;
  }
}
@media screen and (max-width: 670px) {
  .wrap .servisesPage .cards {
    justify-content: space-between;
  }

  .wrap .servisesPage {
    padding: 50px 30px 100px 30px;
  }

  .wrap .reviewsPage {
    padding: 20px 0 100px 0;
  }
}
@media screen and (max-width: 635px) {
  .wrap .homePage .homePage__background .ourPartners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .wrap .homePage .homePage__background .ourPartners img {
    margin: 10px 10px;
  }

  .wrap .homePage .homePage__background .main .main__left h2 {
    font-size: 22px;
  }

  .wrap .homePage .homePage__background .main .main__left h3 {
    font-size: 13px;
  }

  .wrap .homePage .homePage__background header .logo {
    font-size: 14px;
  }

  .wrap .homePage .homePage__background header .logo p {
    margin-left: 10px;
  }

  .wrap .homePage .homePage__background header .logo img {
    width: 27px;
  }

  .burger {
    width: 30px;
    height: 17px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger__row {
    width: 100%;
    height: 3px;
    background-color: #3A68B8;
    border-radius: 6px;
  }

  .wrap .homePage .homePage__background header {
    height: 80px;
  }

  .wrap .servisesPage .cards {
    justify-content: center;
  }

  .wrap .servisesPage .cards article:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .wrap .footerPage .homePage__background .Page__container .main2 {
    display: none !important;
  }

  .wrap .footerPage .homePage__background .Page__container .main3 {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__info {
    margin: 60px 0 60px 0;
    flex-direction: column;
    align-items: center;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__info select {
    width: 100%;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    color: white;
    border: none;
    outline: none;
    background-color: #08101e;
  }

  .main__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__contacts p {
    text-align: center;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about h3 {
    text-align: center;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about p {
    text-align: center;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about h5 {
    text-align: center;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about .socialNetworks {
    width: 100%;
  }

  .wrap .footerPage .homePage__background .Page__container .main .main__about .dropDown {
    display: flex;
    justify-content: center;
  }

  .wrap .footerPage .homePage__background {
    padding: 75px 0px 75px 0px;
  }
}
@media screen and (max-width: 464px) {
  .wrap .homePage .homePage__background .ourPartners {
    justify-content: center;
  }

  .wrap .homePage .homePage__background .ourPartners img {
    height: 25px;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 340px;
  }
}
@media screen and (max-width: 404px) {
  .wrap .homePage .homePage__background .main .main__right img {
    width: 100%;
  }

  .firstPage__text {
    width: 100%;
  }

  .wrap .homePage .homePage__background .main .main__left .buttons-block button:nth-child(2) {
    margin-left: 10px;
    padding: 0 22px;
  }

  .wrap .aboutPage .Page__container .main .main__left img {
    width: 100%;
  }

  .wrap .aboutPage .Page__container .main .main__right p {
    width: 100%;
  }

  .secondPage__text {
    width: 100%;
  }

  .wrap .reviewsPage .Page__container .main .main__right img {
    width: 100%;
  }

  .wrap .reviewsPage .Page__container .main .main__left p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
